<!doctype html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Haunted® | Admin</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
    />
    <link rel="shortcut icon" href="../static/images/haunted_logo.ico" type="image/x-icon">
</head>
<body>
<div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="/"> <img src="../static/images/haunted_logo.png" width="125px"> </a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="/">Home</a></li>
                    <li><a href="/products">Produtos</a></li>
                    <li><a href="">Sobre</a></li>
                    <li><a href="/account">Conta</a></li>
                    <li><a href="/account">Logout</a></li>
                </ul>
            </nav>
            <a href="/cart"> <img src="../static/images/cart.png" width="30px" height="30px" class="cart-icon"> </a>
            <img src="../static/images/menu.png" class="menu-icon"
                 onclick="menutoggle()">
        </div>
    </div>

    <div class="small-container">
        <div class="col-2-admin">
            <h1 class="admin-page-title">Seja bem-vindo <br>Administrador</h1>
            <div class="admin-page-manage">
                <p>Categories</p>
                <a href="/products" class="btn">Manage &#8594;</a>
                <p>Product</p>
                <a href="/products" class="btn">Manage &#8594;</a>
            </div>
        </div>
    </div>
</div>

<!----- footer ---->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-2">
                <img src="../static/images/haunted_logo.png" class="haunted-logo-footer">
                <p>Nosso proposito é a sustentabilidade e acessibilidade para todo o mundo</p>
            </div>
            <div class="footer-col-4">
                <h3>Contato</h3>
                <ul>
                    <li>Instagram</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2022 © - Haunted Company</p>
    </div>
</div>