<!doctype html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:score="http://thymeleafexamples">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Haunted® | Categories</title>
    <link rel="stylesheet" th:href="@{../../css/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
    />
    <link rel="shortcut icon" href="../static/images/haunted_logo.ico" type="image/x-icon">
</head>
<body>
<div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="/"> <img src="../static/images/haunted_logo.png" width="125px"> </a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="/">Home</a></li>
                    <li><a href="/products">Produtos</a></li>
                    <li><a href="">Sobre</a></li>
                    <li><a href="/account">Conta</a></li>
                    <li><a href="/account">Logout</a></li>
                </ul>
            </nav>
            <a href="/cart"> <img src="../static/images/cart.png" width="30px" height="30px" class="cart-icon"> </a>
            <img src="../static/images/menu.png" class="menu-icon"
                 onclick="menutoggle()">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-4">
            <form action="/admin/categories/add" method="post" th:object="${category}">
                <input type="hidden" name="id" th:field="*{id}">
                <div class="form-container">
                    <label for="name">Name</label>
                    <input type="text" class="form-container" required th:field="*{name}" name="name">
                </div>
                <button type="submit" class="btn">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>